/*Google Font*/

body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	/*padding-top: 0.8rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;*/
	/*shorthand property*/
	padding:  0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*margin vs. padding*/
/*margin is best when creating space between elements*/
/*padding is best used when creating space between an element's border and its content*/

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	*/
	display: 0.5rem;
	/*changes elements to inline elements*/
	display: inline;
}

/*intro section*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2rem;
	text-align: center;
	/*short hand*/
	/*padding:  2rem 10% 3rem*/
}

.header {
	text-align: center;
	/*best used when horizontallly aligning text instead of using our margins and paddings*/
}

#intro h2, intro p {
	/*this creates space between the contents of the intro section*/
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;

	/*changes the thickness of our text*/
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	/*creates space between the button text and the border*/
	padding: 1rem;
}

/*succeed info section*/
/*exact same properties as the intro section but can have its own CSS rules for flexibility*/
#success-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#success-info h2 {
	margin-bottom: 1rem;
	/*this creates a space between the header and the card section*/
}

#success-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#success-info .card {
	display:  inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*nav > ul { list-style-type: none; }

/*footer*/
footer {
	padding: 0.7rem;
	/*create space between span tags and the footer border*/
}

foother span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}